.advisor-table-container.advisor-table-container-main-table,
.advisor-table-container-main-table table {
  margin: 0;
}
.migration-adv-table {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-spacing: 0;
}
.advisor-table-container table tr {
  border: 1px solid #dbdbdb;
}
.advisor-table-container table th,
.advisor-table-container table tr td:last-child {
  border: 0;
}
.advisor-info-container span {
  display: inline-block;
}
.advisor-info-container div {
  padding-bottom: 15px;
}
.advisor-info-container div:before {
  content: " ";
  border-radius: 50%;
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 4px 10px 0 0;
}

.advisor-info-container div:first-child:before {
  background: #417505;
}

.advisor-info-container div:nth-child(2):before {
  background: #ff7940;
}

.advisor-info-container div:last-child:before {
  background: #d0021b;
}

.advisor-info-container div:last-child {
  padding-bottom: 0;
}
.advisor-info-container b {
  margin: 0;
}
.advisor-info-container b:after {
  content: "-";
  display: inline-block;
  padding: 0 5px;
}
.migration-adv-table {
  table-layout: fixed;
}
.advisor-table-container,
.compatibility-graph-container {
  margin-top: 50px;
}
.compatibility-graph-container,
.adv-link-container,
.adv-button-container {
  border-top: 1px solid #dbdbdb;
  padding-top: 50px;
}
.advisor-table-container.advisor-config-list {
  margin-top: 20px;
}
.config-title {
  text-decoration: underline;
  color: #006dbe;
  cursor: pointer;
  display: inline-block;
}
.advisor-config-list table {
  border-collapse: unset;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
.advisor-config-list table td {
  padding: 5px 0;
  margin: 0;
  text-align: left;
}
.advisor-grade-container h1::after {
  content: "";
  background: url("../img/info-small.png") no-repeat;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  margin-left: 5px;
  position: relative;
  top: 3px;
  transform: scale(0.75, 0.75);
}
.advisor-grade-container h1::after {
  top: 0;
}
.config-title .m-advisor-tooltip .ma-tooltiptext::before,
.grade-container-left .m-advisor-tooltip .ma-tooltiptext::before {
  content: "";
  position: absolute;
  top: 46%;
  left: -12px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f5f5f5;
}
.config-title:hover .m-advisor-tooltip .ma-tooltiptext {
  display: inline-block;
  margin: -100px 0 0 10px;
}
.grade-container-left h1:hover + .m-advisor-tooltip .ma-tooltiptext {
  display: block;
}
.migration-adv-table td,
.migration-adv-table th {
  text-align: left;
  padding-left: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-transform: capitalize;
}
.migration-main-table tr {
  background-color: #f5f5f5;
}
/* .migration-adv-table tbody tr td:first-child {
  background-color: #f5f5f5;
} */

.migration-adv-table thead tr th {
  background-color: #dcdcdc;
  font-weight: normal;
}

.migration-adv-table.migration-main-table th {
  background: #fff;
  font-weight: bold;
}

table tbody tr td {
  text-align: center;
}

.width-50 {
  width: 50%;
}

.adv-chart-maincontainer {
  display: flex;
  padding: 0;
  flex-wrap: initial;
  width: 100%;
  margin-top: 32px;
}

.compatibility-graph-container h1 {
  font-size: 30px!important;
  padding: 0 0 25px;
}
.compatibility-graph-container .ma-sub-title {
  font-size: 20px!important;
  font-weight: bold;
}

.adv-chart-maincontainer2 {
  margin-top: 24px;
}

.chart-container {
  width: 50%;
  border: solid 1px #dbdbdb;
  border-radius: 4px;
}

.adv-chart-contrib,
.adv-chart-modules {
  margin-right: 24px;
}

.adv-chart-maincontainer2 .chart-media {
  width: 100%;
}

.adv-chart-maincontainer2 .chart-media h4 {
  padding: 14px 24px;
}

.chart-media h4 {
  padding: 0;
  text-align: left;
}

.chart-container canvas {
  width: 100% !important;
  height: 500px !important;
}

.adv-chart-maincontainer2 canvas {
  width: 100% !important;
  height: 500px !important;
}

.note-section {
  padding: 20px;
  background-color: #ebebeb;
  border: 1px solid #bebfb9;
  font-size: 12px;
  text-align: justify;
  font-weight: 500;
  margin-top: 40px;
}

.note-section p {
  margin: 0;
}
.advisor-grade-container {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.advisor-grade-container > div:first-child {
  text-align: center;
  margin-right: 2%;
}
.advisor-grade-container > div:last-child {
  flex: 1;
}
/* .advisor-grade-container .grade-container-left .grade-content {
  padding: 30px;
} */
.advisor-grade-container .grade-container-left .grade-content h2 {
  text-align: center;
  margin-top: 30px;
}
.advisor-grade-container .grade-content .grade {
  content: " ";
  border-radius: 50%;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 4px 10px 0 0;
  font-size: 64px;
  color: #fff;
}
.advisor-grade-container .grade-content .grade-desc {
  width: 50%;
  margin: 0 auto;
  padding: 25px 0;
}
.advisor-grade-container .grade-content .effort {
  padding: 30px 0;
  background-color: #f5f5f5;
  align-items: center;
}
.advisor-grade-container .grade-content span {
  /* position: relative; */
  display: inline-block;
  vertical-align: middle;
  line-height: 1.8;
}
.m-complexity {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2px;
  font-weight: bold;
}
.advisor-grade-container-A {
  background-color: #417505;
  color: #fff;
}
.advisor-grade-container-B {
  background-color: #ff7940;
  color: #fff;
}
.advisor-grade-container-C {
  background-color: #d0021b;
  color: #fff;
}
.advisor-grade-container .grade-container-left .grade-content {
  border-radius: 5px;
  border: solid 1px #dbdbdb;
}
.advisor-grade-container .grade-container-right .grade-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.advisor-grade-container .grade-container-right .grade-content > div {
  display: flex;
  flex-grow: 2;
  flex-basis: 40%;
  border-radius: 5px;
  border: solid 1px #dbdbdb;
  margin: 0 25px 25px 0;
  height: 130px;
}
.advisor-grade-container .grade-container-right .grade-content > div:nth-child(2n) {
  margin-right: 0;
}
.advisor-grade-container .grade-container-right .img-container {
  background-color: #f5f5f5;
  display: inline-block;
  display: flex;
  padding: 0 32px;
}
.advisor-grade-container .grade-container-right .img-container img {
  align-self: center;
}
.advisor-grade-container .grade-container-right .content {
  flex: 1;
  display: inline-block;
  align-self: center;
  padding-left: 25px;
}
.advisor-grade-container .grade-container-right .note .img-container {
  background-color: transparent;
}
.advisor-grade-container .grade-container-right .grade-content .note {
  border: 1px solid #0075ad;
  background-color: rgba(0, 109, 190, 0.1);
  height: auto;
  padding: 20px 20px 20px 0;
  margin: 0;
}

.advisor-grade-container .grade-container-right .content > div:first-child {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.advisor-grade-container h2 {
  padding: 0 0 12px;
}
.advisor-grade-container h1,
.advisor-grade-container h2 {
  margin: 0px;
  padding: 0 0 16px;
  font-size: 30px !important;
  line-height: normal!important;
  text-align: left;
}
.advisor-info-container {
  padding: 20px;
  width: auto;
  display: inline-block;
}
.grade-container-left .m-advisor-tooltip .ma-tooltiptext {
  left: 255px;
  top: -60px;
  display: none;
  border-radius: 5px;
  border: solid 1px #dddddd;
  box-shadow: 0 0 10px 0 rgba(55, 71, 79, 0.14);
  padding: 0;
}
.bg-color {
  background-color: #9bccc6;
}

.advisor-info-container>div {
  display: flex;
}

.advisor-info-container p {
  text-align: center;
  width: 50%;
}

.get-assessment.done {
  color: green;
}

.get-assessment.not-done {
  color: #8c2e0b;
}

#migration-advisor-initial-form .grippie {
  display: none;
}
.header {
  display: flex;
  width: 100%;
}
.header div:first-child {
  flex: 1;
}
.header h1 {
  font-size: 36px !important;
}
.header .print {
  background-color: #006dbe;
  text-align: right;
  padding: 0 20px;
  border-radius: 5px;
  border: solid 1px #234f93;
  height: 35px;
}
.header .print a {
  color: #fff;
  position: relative;
  top: 2px;
}
.print:before {
  content: "";
  background-image: url("../img/print1.png");
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 8px;
  right: 10px;
}

.get-assessment.done::before {
  content: "";
  background: url("../img/adv-success.png");
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  top: 7px;
  right: 5px;
}
.get-assessment.not-done::before {
  content: "";
  background: url("../img/adv-error.png");
  width: 25px;
  height: 25px;
  display: inline-block;
  position: relative;
  top: 7px;
  right: 5px;
}
.migration-form-container2 {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 20px;
  width: 650px;
  background-color: #fafafa;
}
.more-info-icon {
  width: 15px;
  height: 15px;
  margin-left: 6px;
  margin-top: 0;
}

.m-advisor-tooltip .ma-tooltiptext {
  display: none;
  font-size: 12px;
  background-color: #f5f5f5;
  color: #333333;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #dddddd;
  padding: 10px;
  position: absolute;
  z-index: 1;
  text-transform: none;
  box-shadow: 0 0 10px 0 rgba(55, 71, 79, 0.14);
}
.m-advisor-tooltip .ma-tooltiptext::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 12%;
  text-align: start;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border: 8px solid transparent;
  border-bottom: 6px solid #f5f5f5;
}
.ma-last-elem {
  display: flex;
}
.ma-last-elem::after {
  content: "";
  background: url("../img/info-small.png");
  width: 20px;
  height: 20px;
  display: flex;
  margin-top: 1px;
  margin-left: 10px;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  left: 5px;
  transform: scale(0.75, 0.75);
}
.ma-last-elem:hover + .m-advisor-tooltip .ma-tooltiptext {
  display: block;
}
.overall-grade-desc {
  padding: 16px;
}
.ma-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.ma-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.ma-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -8px;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: .4s;
  transition: .4s;
}
.ma-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  right: 29px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .ma-slider {
  background-color: #2196f3;
}
input:checked + .ma-slider > .adv-chart-maincontainer2 {
  display: none;
}
input:focus + .ma-slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .ma-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.ma-slider.round {
  border-radius: 34px;
}
.ma-slider.round:before {
  border-radius: 50%;
}
.ma-subtitle-container {
  display: flex;
  justify-content: space-between;
}
.ma-chart-label {
  margin-right: 8px;
}
/*Circular Graph*/
#graph {
  background-color: #f5f5f5;
  margin-top: 25px;
}
#graph tr:nth-child(2) {
  background-color: #fff;
}
#graph tr:nth-child(2) td div {
  position: relative;
}
#graph tr:nth-child(2) td:first-child {
  vertical-align: middle;
}
#graph tr:nth-child(2) td {
  vertical-align: top;
}
#graph .data-percent {
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* How to proceed further */
.adv-link-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
.adv-link-container h1,
.adv-button-container h1 {
  margin: 0px;
  padding: 0 0 16px;
  font-size: 30px !important;
  line-height: normal!important;
  text-align: left;
  width: 100%;
}
.adv-link-container > div {
  display: flex;
  flex: 1 40%;
  height: 160px;
  border-radius: 5px;
  border: solid 1px #dbdbdb;
}
.adv-link-container > div:nth-child(2n) {
  margin-right: 25px;
}
.adv-link-container > div:first-child,
.adv-link-container > div:nth-child(2) {
  margin-bottom: 25px;
}
.adv-link-container .img-container {
  background-color: #f5f5f5;
  display: inline-block;
  display: flex;
  padding: 0 32px;
  height: 100%;
}
.adv-link-container > div:nth-child(3) .img-container img {
  transform: scale(1.1, 1.1);
  margin: 0 18px;
}

.adv-link-container .img-container img {
  align-self: center;
}
.adv-link-container .content {
  flex: 1;
  display: inline-block;
  align-self: center;
  padding-left: 25px;
}
.adv-link-container .content > div:first-child {
  margin-bottom: 10px;
}
.adv-link-container a {
  text-decoration: underline!important;
  font-weight: bold;
}
.adv-link-container .more-resources {
  width: 100%;
  margin-top: 25px;
}
.adv-button-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.adv-button-container .button {
  display: flex;
  margin-top: 25px;
}
.button span {
  align-self: center;
  font-weight: bold;
}
.adv-button-container .rectangle {
  width: 152px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #234f93;
  background-color: #006dbe;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  line-height: 3.5;
  font-weight: bold;
}
.footer {
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .chart-container {
    width: 100%;
  }
}
@media (max-width: 1048px) {
  .overall-grade-title {
    width: 50%;
  }
}
@media print {
  body {
    font-family: sans-serif !important;
    font-size: 12pt;
  }
  .advisor-table-container.advisor-config-list,
  .advisor-grade-container {
    margin-top: 30px;
  }
  .advisor-grade-container > div {
    flex: 0 0 40%;
  }
  .advisor-grade-container > div:last-child {
    display: block;
    flex: unset;
  }
  .advisor-config-list .config-title::after,
  .advisor-grade-container h1::after,
  .ma-last-elem::after {
    content: none;
  }
  .ma-subtitle-container >div:nth-child(2),
  .config-title {
    display: none;
  }
  .adv-link-container h1 {
    padding-top: 30px;
  }
  .compatibility-graph-container {
    page-break-inside: avoid !important;
    page-break-before: always !important;
    margin: 0;
    padding: 0;
  }
  .compatibility-graph-container h1 {
    margin-top: 30px;
  }
  .compatibility-graph-container,
  .adv-link-container,
  .adv-button-container {
    border-top: 0;
  }
  .adv-link-container a[href]:after {
    content: ' (' attr(href) ')';
  }
  .migration-adv-table {
    font-size: 10pt;
    margin-bottom: 30px;
  }
  .compatibility-graph-container h1 {
    padding: 0 0 10px;
    margin: 0;
  }
  .compatibility-graph-container {
    margin: 0;
  }
  .advisor-table-container-main-table .migration-adv-table {
    page-break-inside: avoid !important;
    page-break-before: avoid!important;
  }
  .migration-adv-table {
    page-break-inside: avoid !important;
    page-break-before: always !important;
    margin: 0;
    padding: 0;
  }
  .migration-adv-table {
    margin-top: 30px!important;
  }
  .migration-adv-table td,
  .migration-adv-table th {
    padding: 10px 5px!important;
  }
  .adv-button-container {
    padding: 0;
  }
  .adv-button-container a {
    text-decoration: none;
  }
  .page-admin-reports-migrationadvisor * {
    visibility: hidden;
  }
  @page {
    margin-bottom: 0;
  }
  #print-me,
  #print-me * {
    visibility: visible;
  }
  #print-me {
    position: absolute;
    left: 0;
    top: 0;
  }
}
